@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  /* background-color: black; */
  background-image: url("pics/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.opacity {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 43, 43, 0.8);
  width: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: wheat;
}
header .logo img {
  height: 50px;
  margin-left: 20px;
}
/* header .navbar {
  overflow: hidden;
} */
header .navbar nav a {
  text-decoration: none;
  margin-right: 20px;
  color: wheat;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 30px;
}
header .navbar nav a:hover {
  background-color: rgb(129, 119, 119);
}

#hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  margin-right: 100px;
  overflow: hidden;
}
.heroText {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  width: 500px;
  margin-top: 100px;
}
.heroText .content {
  color: white;
  font-size: 35px;
  font-optical-sizing: auto;

  font-style: normal;
}
.heroText .content p {
  font-size: 60px;
}
.heroText .content ol {
  list-style: none;
  overflow: hidden;
  font-weight: 900;
  height: 3.8rem;
  line-height: 3.8rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.heroText .content ol li {
  animation: flow calc(4 * 5 * 2s) steps(4) infinite;
}
@keyframes flow {
  100% {
    transform: translateY(-400%);
  }
}
.heroText .content ol span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(20deg, rgb(82, 76, 76), wheat);
  -webkit-background-clip: text;
  white-space: nowrap;
  display: inline-block;
  border-right: 0.4rem solid;
  animation: cursor 0.8s step-end infinite,
    typing 5s steps(22) infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  0%,
  10% {
    width: 0%;
  }
  70%,
  100% {
    width: 100%;
  }
}
.heroText p {
  font-size: 25px;
}
.slides {
  position: relative;
  width: 300px;
  height: 400px;
  /* overflow: hidden; */
}
.slide {
  position: absolute;
  height: 250px;
  opacity: 0;
  inset: 0;
  animation: slide-show 12s infinite;
}
.slide-2 {
  animation-delay: 4s;
}
.slide-3 {
  animation-delay: 8s;
}
.slide img {
  height: 500px;
  object-fit: cover;
  object-position: center;
  margin-left: 50px;
}
@keyframes slide-show {
  0% {
    opacity: 0;
  }
  20%,
  30% {
    opacity: 1;
    scale: 1.03;
  }
  50% {
    opacity: 0;
  }
}
#product {
  padding-top: 150px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: wheat;
  font-family: "Montserrat", sans-serif;
}
#product .container {
  background-color: rgb(85, 81, 81);
  padding-bottom: 10px;
  border-style: double;
  border-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.container:hover {
  transform: scale(1.2);
  cursor: pointer;
}
#product .container img {
  height: 300px;
}

#about {
  text-align: center;
  padding: 20px;
  color: wheat;
  font-family: "Montserrat", sans-serif;
  .ab1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;

    img {
      width: 500px;
    }
    h3 {
      width: 500px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 20px;
      padding: 10px;
    }
  }
}
#concerns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: "Montserrat", sans-serif;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(gray, black);
    padding: 30px;
    border-radius: 10px;
    color: wheat;

    form {
      width: 350px;
      padding: 20px;
    }
    input,
    textarea {
      width: 330px;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 10px;
    }
    button {
      padding: 10px;
      width: 353px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 10px;
  background-color: rgba(44, 43, 43, 0.8);
  font-size: 20px;
  width: 100%;
}
.links {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.links a {
  text-decoration: none;
  color: wheat;
}
.links a:hover {
  cursor: pointer;
  color: rgb(129, 119, 119);
}
.socplace {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}
.socplace a {
  text-decoration: none;
  color: white;
}
.newsletter {
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter form input {
  width: 250px;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.newsletter button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
}
.newsletter button:hover {
  cursor: pointer;
}
.btm {
  background-color: rgba(44, 43, 43, 0.8);
  text-align: center;
  color: rgb(138, 145, 151);
}
